<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survei Feeling</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nedb/1.8.0/nedb.min.js"></script>
</head>
<body>
    <div>
        <h1>Kuesioner Survei Kemampuan<br>Pendengaran Chord Pada Anak Remaja</h1>
        <form class="form" action="#" id="form">
            <div class="form-grup">
                <label for="tambahan">Menurutmu kalau ada aplikasi untuk melatih feeling kamu pengen nyoba nggk? (opsional)</label>
                <input type="text" name="tambahan" id="tambahan" required autofocus>
            </div>
        </form>
        <button id="end">Akhirnya selsai juga</button>
    </div>
    <script src="js/scriptpraend.js"></script>
</body>
</html>