<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survei Feeling</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nedb/1.8.0/nedb.min.js"></script>
</head>
<body>
    <div>
        <h1>Kuesioner Survei Kemampuan<br>Pendengaran Chord Pada Anak Remaja</h1>
        <p>Makasihh udah ikut ngisi ya:)</p>
    </div>
</body>
</html>