<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survei Feeling</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div>
        <h1>Kuesioner Survei Kemampuan<br>Pendengaran Chord Pada Anak Remaja</h1>
        <p>Tolong isi koesioner ini dengan jujur ya adik-adik, biar datanya valid. Makasihh:)</p>
        <form class="form" action="#" id="form">
            <div class="form-grup">
                <label for="umur">Umurmu berapa?</label>
                <input type="text" name="umur" id="umur" required class="masukin">
            </div>
            <div class="form-grup">
                <label for="sekolah">Nama sekolahmu apa?</label>
                <input type="text" name="sekolah" id="sekolah" required class="masukin">
            </div>
            <div class="form-grup">
                <label for="cekmain">Kamu bisa main musik?</label>
                <input type="text" name="cekmain" id="cekmain" required class="masukin">
            </div>
            <div class="form-grup">
                <label for="cekfeeling">Kamu bisa feeling chord?</label>
                <input type="text" name="cekfeeling" id="cekfeeling" required class="masukin">
            </div>
        </form>
        <button id="tmbmain">Yuk main tebak chord</button>
    </div>
    <script src="js/script.js"></script>
</body>
</html>